version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  # Check for Docker image updates
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"